$--color-primary: #4582ec;
$--color-success: #02b875;
$--color-info: #17a2b8;
$--color-warning: #f0ad4e;
$--color-danger: #d23430;

$--table-header-font-color: rgba(0, 0, 0, .85);
$--table-header-background-color: #fafafa;
$--table-border-color: #ddd;



$--font-path: '~element-ui/lib/theme-chalk/fonts';

::-webkit-scrollbar {
  display: none;
}

.el-scrollbar { /* 不加这个在某些界面显示会有问题 */
  height: 100%;
}

[v-cloak] { /* 解决初始文字未渲染时显示为{{...}}的问题*/
  display: none;
}

.el-upload-list__item { // 去除文件预览的动画效果，个人不太喜欢
  transition: none !important;
}

@import "~element-ui/packages/theme-chalk/src/index";
