* {
    font-family: "Microsoft YaHei", serif;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

::-webkit-scrollbar {
    display: none;
}

.el-scrollbar { /* 不加这个在某些界面显示会有问题 */
    height: 100%;
}
