* {
    font-family: "Microsoft YaHei", serif;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

::-webkit-scrollbar {
    display: none;
}

.el-scrollbar {
    height: 100%;
}
